<style>
    .button{
    border: none;
    border-radius: 24px;
    color: rgb(199, 116, 116);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px auto;
    transition-duration: 0.4s;
    cursor: pointer;
    }
    .button1 {
    background-color: rgb(228, 130, 130); 
    color: black; 
    border: 2px solid #14213d;
  }
  
  .button1:hover {
    background-color: #e08a8a;
    color: white;
  }
  
  .button2 {
    background-color: rgb(219, 146, 146); 
    color: black; 
    border: 2px solid #fca311;
  }
  
  .button2:hover {
    background-color: #f3c883;
    color: white;
  }
  .button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #e63946;
  }
  
  .button3:hover {
    background-color: #cf727a;
    color: white;
  }
  </style>
  <div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport" style="background-image: url('../../assets/register.jpg'); 
  background-size: cover; background-position: center;">  
  
      <mat-card class="uk-width-1-2@m" style="background-color:rgb(184, 117, 117);">
          <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
              <h3>Create Account</h3>
          </div>
        <mat-card-content>
            <mat-form-field  class="uk-width-1-1" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email">
            </mat-form-field>
              <mat-form-field class="uk-width-1-1" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password">
                <button mat-icon-button matSuffix (click)="hide = !hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <mat-form-field class="uk-width-1-1" appearance="outline">
                <mat-label>Re-type Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password">
                <button mat-icon-button matSuffix (click)="hide = !hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            <div class="uk-flex uk-flex-right">
                <div class="uk-width-expand">
                  <button class="button button1" routerLink="/login">I have an account</button>
                </div>
                <button class="button button3" routerLink="/login">Register</button>
            </div>
        </mat-card-content>
      </mat-card>
  </div>
