<div *ngIf="loading" style="height: 300px;" class="uk-flex uk-flex-center uk-flex-middle">
    <mat-spinner diameter="30"></mat-spinner>
  </div>
  
  <button class="buttons button2" (click)="buatProduk({},-1)">Tambah Database Produk</button> 
          
          <div class="container">
          <mat-card>
              <mat-card-header>
                <mat-card-title>Daftar Wisata</mat-card-title>
              </mat-card-header>
  
          <mat-card-content>
          <mat-list>
              <mat-list-item>
                <img matListAvatar img src="https://img.icons8.com/fluent/48/000000/glacier.png"/>
                <h3 matLine>Nama Wisata</h3>
                <p matLine>
                <span>harga(rupiah)</span>          
                </p>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item >Detail</button>
                  <button mat-menu-item >Edit</button>
                  <button mat-menu-item >Delete</button>
                </mat-menu>
              </mat-list-item>
            </mat-list>
           </mat-card-content>
          </mat-card>
          </div>