<div class="d-flex justify-content-end mx-5">
  <button class="btn btn-primary mb-4 mt-3 mx-5" (click)="detailWisata({},-1)">Tambah Database Produk</button>
</div>

<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Daftar Wisata</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let trip of trips; let idx=index">
          <img matListAvatar img src="https://img.icons8.com/fluent/48/000000/glacier.png" />
          <h3 class="font-weight-bold" matLine>{{trip.title}}</h3>
          <h4 matLine>
            <span>{{trip.id}}</span>
          </h4>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="detailWisata(trip, idx)">Edit</button>
            <button mat-menu-item (click)="deleteProduct(trip, idx)">Delete</button>
          </mat-menu>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
