<html>
<head>
<style>
    header{
        padding: 150px;
        text-align:center;
        color:rgb(5, 5, 5);
    }
    
    

</style>

</head>
<body style="background-image: url(../../assets/rajaampat.jpg) ;">
  <div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport">
    
        <header>
          <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 100px; font-weight:bolder;">Wonderful </h1> 
          <h2 style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 100px; font-weight:bolder;">Indonesia</h2> 
          <h3 style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 50px;padding: 75px;">Welcome to our Trip to Indonesia</h3>
          <button mat-raised-button routerLink="/login" style="margin-left: 20px; ">Login</button>
        
          <button mat-raised-button routerLink="/login" style="margin-left: 420px; ">Register</button>
    
        </header>
        


           

</div>
</body>
</html>
